
.review {
    width: 100%;
    height: 100%;
    background-image: url(../../../public/assets/images/bg3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.reviewslider {
    padding: 50px 0;
}

.user-img img {
    width: 70px;
    height: 70px;
    border-radius: 50px;
}
.review-content {
    background: #031d2e;
    padding: 35px 40px 12px;
    color: #fff;
    position: relative;
    text-align: center;
    margin: 0 10px;
}

.user-img {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.userName {
    font-size: 25px;
    font-weight: bold;
    color: darkorange;
}

.slick-list {
    padding: 40px 0 !important; 
}

@media screen and (max-width:1199px) {
    .review-content {
      padding: 35px 0 12px;
    }
  }