body {
  font-family: 'Fjalla One', sans-serif;
font-family: 'Jost', sans-serif;
}
a {
  text-decoration: none;
}
.Newregistration {
  color: #fff;
  padding: 50px 0;
  background: #031d2e; 
}

.Featured {
  background: #031d2e;
  color: #fff;
  padding: 50px 0;
  background-image: url(../public/assets/images/bg3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
/* resposive Start From Here */

@media screen and (max-width:1399px) {
  .service-content h2 {
    font-size: 26px;
    padding: 7px 0;
}
.blogcontent h2 {
  font-size: 19px;
}
.shopname h2 {
  font-size: 24px;
}
.shopContent {
  bottom: 119px;
}

}

@media screen and (max-width:768px) {
  .Featured, .popular {
    padding-top: 0 !important;
  }
}
@media screen and (max-width:639px) {
  .slick-list {
    padding: 17px 0 !important;
}
}
@media screen and (max-width:479px) {
  .service-content h2 {
    font-size: 18px;
    font-weight: bold;
    color: darkorange;
}
h2.titleHead {
  font-size: 34px;
}
.service-content p {
  display: none;
}
.mt-5 {
  margin-top: 20px !important;
}
}